<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FineUIPro" type="FineUIPro.ConfigSection, FineUIPro" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler,Castle.ActiveRecord" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <activerecord isWeb="true">
    <config>
      <!--mysql-->

      <!--<add key="connection.driver_class" value="NHibernate.Driver.MySqlDataDriver" />
      <add key="dialect" value="NHibernate.Dialect.MySQLDialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="Database=kzyp_db;Data Source=127.0.1.1;User id=root;password=P@ssW0rd;Charset=utf8" />
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle" />-->

      <!--sql2008-->
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
      <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
      <add key="connection.connection_string" value="Server=.;Database=ZNERP;Uid=sa;Pwd=P@ssW0rd;"/>
      <!--<add key="connection.connection_string" value="Server=localhost;Database=ZNERP;Uid=sa;Pwd=P@ssW0rd;"/>-->
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle"/>

    </config>
  </activerecord>
  <appSettings>
    <!-- 图片显示路径及保存路径 -->
    <add key="picSavePath" value="D:\Development\Coding\WEB网站项目\2018-01-16快走优品\PCSOURCE\trunk\code\ZAJCZN.MIS.Web\upload\" />
    <add key="picShowPath" value="http://localhost:7086/upload/" />
    <add key="ConStringEncrypt" value="true"/>
    <add key="IsPrint" value="false"/>
    <add key="IsVip" value="true"/>
    <add key="IsStock" value="true"/>
    <add key="ConnectionString" value="Server=.;database=ZNERP;uid=sa;pwd=P@ssW0rd" />

  </appSettings>
  <connectionStrings>
    <!--<add name="default" connectionString="Server=localhost;Database=ZNERP;Uid=sa;Pwd=P@ssW0rd;" providerName="System.Data.SqlClient" />-->
    <add name="default" connectionString="Server=.;Database=ZNERP;Uid=sa;Pwd=P@ssW0rd;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <FineUIPro DebugMode="true" />
  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUIPro" namespace="FineUIPro" tagPrefix="f" />
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIProScriptModule" type="FineUIPro.ScriptModule, FineUIPro" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUIPro.ResourceHandler, FineUIPro" validate="false" />
    </httpHandlers>
    <httpRuntime />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms name=".APPBOX_FORMS_AUTH" loginUrl="~/default.aspx" timeout="120" defaultUrl="~/main.aspx" protection="All" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <location path="icon">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="res">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="extjs">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>